@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #poster {
        font-family: Impact;
        font-size: 20pt;
        color: blue;
    }
</style>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" />


<table id="example" class="table table-striped table-bordered table-hover dt-responsive" style="width:100%">
    @*<button type="button" class="btn btn-default btn-sm" id="refresh_desk">
            <span class="glyphicon glyphicon-refresh"></span> Refresh
        </button>*@
    <thead>
        <tr>
            <th>Ticket</th>
            <th>Correo</th>
            <th>SubActivo</th>
            <th>Activo</th>
            <th>Fecha</th>
            <th>Departamento</th>
            <th>Telefono</th>
            <th>Estatus</th>
            <th>Ubicacion</th>
            <th>SLA Cat. Alta</th>
            <th>SLA Cat. Media</th>
            <th>SLA Cat. Baja</th>
            @*funcion validacion (valor)**@
            <th>Seguimiento</th>
          
        </tr>
    </thead>
</table>

<table id="example1" class="table table-striped table-bordered table-hover dt-responsive" style="width:100%">
    @*<button type="button" class="btn btn-default btn-sm" id="refresh_desk">
            <span class="glyphicon glyphicon-refresh"></span> Refresh
        </button>*@
    <thead>
        <tr>
            <th>Ticket</th>
            <th>Correo</th>
            <th>SubActivo</th>
            <th>Activo</th>
            <th>Fecha</th>
            <th>Departamento</th>
            <th>Telefono</th>
            <th>Estatus</th>
            <th>Ubicacion</th>
            <th>SLA Cat. Alta</th>
            <th>SLA Cat. Media</th>
            <th>SLA Cat. Baja</th>
            <th>Mensajes</th>
        </tr>
    </thead>
</table>

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script>
    $(document).ready(function () {

        $.ajax({
            url: '@System.Configuration.ConfigurationManager.AppSettings["Request"]/api/User',
            success: function (data) {
                if (data.roles == "Sistemas") {
                    var tablaUser = $('#example1');
                    tablaUser.css("display", "none");
                    Tabla_Adm();
                }
                else {
                    var tablaAdmin = $('#example');
                    tablaAdmin.css("display", "none");
                    Tabla();
                }
            }
        });

        function Tabla() {
            var table = $('#example1').DataTable({
                "ajax": {
                    "url": '@System.Configuration.ConfigurationManager.AppSettings["Request"]/api/nc',

                    "datatype": "json",
                    "contentType": "application/json; charset=utf-8",

                    "error": function (status) {
                        console.log(status);
                    }
                },
                "processing": true,
                "dataSrc": "",
                "columns": [

                    { "data": "IdSolicitud" },

                    { "data": "Correo" },

                    { "data": "Subactivo" },
                    { "data": "Activo" },
                    { "data": "Fecha_levantamiento" },
                    
                    { "data": "Departamento" },
                    { "data": "Telefono" },

                    {
                        "data": "Estatus",
                        "render": function (data, type, val) {
                            switch (data) {
                                case "ABIERTO":
                                    return '<p id="poster">ABIERTO</p>';
                                case "CERRADO":
                                    return '<font color="red"><p style="font-family: Impact;color="red"; font-size:14pt;">CERRADO</p><font>';
                                case "N.C":
                                    return '<p id="poster">N.C</p>';
                                default:
                                    return '' + data + '';
                            }
                        }
                    },
                   
                    { "data": "Ubicacion" },
                    { "data": "SLA_C_A" },
                    { "data": "SLA_C_M" },
                    { "data": "SLA_C_B" },
                    {
                        "data": "IdSolicitud", "width": "50px",
                        "render": function (data) {
                            return '<a  href="@System.Configuration.ConfigurationManager.AppSettings["Request"]/Mensajes/Create/' + data + '">Seguimiento</a>';
                        }
                    }

                ],
                "order": [[1, 'asc']],
            });
            $('#refresh_desk').click(function () {
                table.ajax.reload();
            });

        }

        function Tabla_Adm() {
            var table = $('#example').DataTable({
                "oSearch": { "sSearch": "ABIERTO" },
                "searching": false,
                "ajax": {
                    "url": "@System.Configuration.ConfigurationManager.AppSettings["Request"]/api/nc",

                    "datatype": "json",
                    "contentType": "application/json; charset=utf-8",

                    "error": function (status) {
                        console.log(status);
                    }
                },
                "processing": true,
                "dataSrc": "",
                "columns": [

                    { "data": "IdSolicitud" },

                    { "data": "Correo" },

                    { "data": "Subactivo" },
                    { "data": "Activo" },
                    { "data": "Fecha_levantamiento" },
                   
                    { "data": "Departamento" },
                    { "data": "Telefono" },
                    {
                        "data": "Estatus",
                        "render": function (data, type, val) {
                            switch (data) {
                                case "ABIERTO":
                                    return '<p id="poster">ABIERTO</p>';
                                case "CERRADO":
                                    return '<font color="red"><p style="font-family: Impact;color="red"; font-size:14pt;">CERRADO</p><font>';
                                case "N.C":
                                    return '<p id="poster">N.C</p>';
                                default:
                                    return '' + data + '';
                            }
                        }
                    },
                   
                    { "data": "Ubicacion" },
                    { "data": "SLA_C_A" },
                    { "data": "SLA_C_M" },
                    { "data": "SLA_C_B" },

                    {
                        "data": "IdSolicitud", "width": "50px",
                        "render": function (data) {
                            return '<a  href="@System.Configuration.ConfigurationManager.AppSettings["Request"]/Mensajes/Create/' + data + '">link</a>';
                        }
                    }
                ],
                "order": [[1, 'asc']],
            });
            $('#refresh_desk').click(function () {
                table.ajax.reload();
            });

        }

        $('.tablecontainer').on('click', 'a.popup', function (e) {
            e.preventDefault();
            OpenPopup($(this).attr('href'));
        })
    });


</script>
